@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

body {
    font-family: "Raleway", sans-serif;
}

p {
    line-height: 165%;
}
.theme-dark .text-color-1 {
    color: #4ecad2;
    
}
.theme-dark .text-primary {
    color: #d564ab;
}
.boxed {
    @apply max-w-screen-lg w-full mx-auto;
}

.large-container {
    max-width: 2100px;
}
/*
.text-6xl{
  
background: -moz-linear-gradient(left,  #4ecad2 0%, #76b2d9 21%, #9d9be1 41%, #bd82d2 63%, #d564ab 100%); 
background: -webkit-linear-gradient(left,  #4ecad2 0%,#76b2d9 21%,#9d9be1 41%,#bd82d2 63%,#d564ab 100%); 
background: linear-gradient(to right,  #4ecad2 0%,#76b2d9 21%,#9d9be1 41%,#bd82d2 63%,#d564ab 100%);
animation: backgroundtitle 3s infinite linear; 
}*/
@keyframes backgroundtitle {
    100% {
      background-position-y: 200vh;
    }
  }
.mt-4 {
    width: 65%; /* hace margin right */ 
    margin-bottom: 2%;
}

.uptop{
    margin-top: -25vh;
}
.it {
    background-image: url('../../public//images/o.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
  

}
#imagebg {
    background-image: url('../../contents/basepages/servicios/404.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;

    width: 100%;
    height: 95vmin;
}
.text-7xl {
    position: relative;
    top: 10.333vh;
    font-size: 3.333rem;
}
.text-link {
    position:absolute;
    left:44.333%;
    top:66%;
    -webkit-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1);
    padding:15px 35px;
    border-radius:50px;
    background:transparent;
    cursor:pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:1.2em;
    color:#fff;
    -webkit-transition:.5s;
    transition:.5s;



    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.text-link:focus{
    outline:none;
  }
  
  
  
  
  .text-link:hover{
    -webkit-transform:scale(1.2);
    ransform:scale(1.2);
    background:#24C6DC;
    -moz-box-shadow: 0px 0px 20px rgba(56,56,56,.2);
    -webkit-box-shadow: 0px 0px 20px rgba(56,56,56,.2);
    box-shadow: 0px 0px 20px rgba(56,56,56,.2);
  }
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.py-12 {
    
    margin-bottom: 1vmin;
    top: 70vmin;
    z-index: 11;
}
.dd {
    margin-top: -15vh;
    margin-left: 5vw;
}
.imgclass {
    position: relative;
    top: -5vh;

}
.serv {
    text-align: center;
}
/* Marcamos la diferencia  interpretando lo que necesitan nuestros clientes para lograr el éxito en su propósito */
.m {
    margin-bottom: 5%;
}
#abst {
    background-image: url('../../public/images/98.png');
 background-position: top;
 background-repeat: no-repeat;
background-attachment:initial;
 background-size: contain;
 padding-right: 17%;
 padding-top: 17%;
 width: 75vw;
 height: 75vh;
 position: relative;
 top: 0vh;
 left: -85vh;
 
 
}
#contacto {
 background-image: url('../../public/images/gf.png');
 background-position: top;
 background-repeat: no-repeat;
background-attachment:initial;
 background-size: contain;
 padding-right: 17%;
 padding-top: 22%; 

}
#foot {
    background-image: url('../../public/images/21.png');
 background-position: top;
 background-repeat: no-repeat;
background-attachment:initial;
 background-size: contain;
 padding-right: 17%;
 padding-top: 17%;  
 position: relative;
 top: 0vh;
 left: 25%;
 width: 50%;
 height: 25%;
}
.gatsby-resp-image-image {
     border: 1px solid #c1c1c1;
}
.post-content {
    margin-top: 35vmin;
}
.post-content p {
    font-size: 1.25em;
}
.post-content h4 {
   /* margin-left: 5vmin; */
}

.h2eco {
    margin-top: 0vh;
}
.sociallink {
    margin-left: calc(100% - 63%);
}
.mt-1 {
    visibility: hidden;
}
.btn-primary:before {
    background-color: #69d2e7!important;
}
.h3Index {
    text-align: center;
}
.img-thumbnail {
    width: 25%;
    height: 25%;
}
.mt-3 {
    padding-bottom: 2.333vh;
}
 @screen lg {
    .boxed {
        @apply max-w-screen-md;
    }
}

@screen xl {
    .boxed {
        @apply max-w-screen-lg;
    }
}

.nav .nav-links li{
    @apply relative inline-block mx-2;
}

.nav .nav-links li a{
    @apply inline-block p-1 relative z-10;
}

.nav .nav-links li:before{
    content: "";
    @apply absolute w-0 h-0 rounded-full bg-primary left-0 right-0 bottom-0 top-0 m-auto opacity-25;
    transition: width .25s, height .25s;
}

.nav .nav-links li.active:before ,.nav .nav-links li:hover:before {
    @apply w-8 h-8;
}

.nav .nav-links .theme-switcher:before{
    display: none;
}

.nav .line {
    width: 0;
    transition: width 0.50s;
}

.nav.scrolled .line{
    @apply w-full;
}

.title h1{ 
    @apply text-color-1 font-black;
    
}


.supports-blend .title h1 {
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
}
#derecha {
    position: relative;
    left: 50%;
}
.supports-blend .title h1 span {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @apply bg-gradient-primary;
    mix-blend-mode: screen;

    background: linear-gradient(-45deg, #76b2d9, #4ecad2, #54fde0, #d564ab, #bd82d2, #4f02a6);
	background-size: 400% 400%;
    animation: sss 11s ease infinite;

}


@keyframes sss
{
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.theme-dark .supports-blend .title h1 {
    color: #fff;
    background: #000;
    mix-blend-mode: lighten;
}

.theme-dark .supports-blend .title h1 span {
    mix-blend-mode: multiply;
}

.btn {
    @apply h-12 px-6 outline-none inline-flex relative overflow-hidden items-center;
}

.btn.disabled {
    @apply opacity-50;
}

.btn span {
    @apply relative z-10;
}

.btn:before{
    content: "";
    @apply absolute w-full h-full top-0;
    left: 100%;
    transition: left 0.25s;
    transition-timing-function: cubic-bezier(1, 2.13, 1, -0.1);
    z-index: 1;
}

.btn .icon-right {
    @apply ml-3;
}

.btn .icon-left {
    @apply mr-3;
}

.btn:focus {
    @apply outline-none;
}

.btn-primary {
    @apply bg-primary my-4;
    color: #fff;

    background: linear-gradient(-45deg, #76b2d9, #4ecad2, #54fde0, #d564ab, #bd82d2, #4f02a6);
	background-size: 400% 400%;
    animation: sss 7.9s ease 3s;
    
 
}


.btn-primary:before {
    @apply bg-secondary;
}

.btn-primary:hover:before,.btn-primary:focus:before {
    left: 0;
}

.portfolio-item .image {
    clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
    transition: clip-path 0.50s;
    transition-timing-function: ease-in-out;
    z-index: 3;
    transform: translateY(0);
}

.portfolio-item.even .image {
    clip-path: polygon(100% 0, 100% 0, 100% 99%, 100% 100%);
}


.portfolio-item.begin-animation .image{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.portfolio-item .to-up {
    transform: translate(0, 50px);
    transition: transform 0.25s;
}

.portfolio-item .to-up:nth-child(2){
    transition-delay: 0.2s;
}

.portfolio-item.begin-animation .to-up {
    transform: translate(0, 0px);
}

.footer-links li{
    @apply mx-3;
}

.animated-link-parent a {
    @apply inline-block relative;
}

.animated-link-parent a:after {
    content: "";
    transition-property: width;
    @apply absolute bg-gradient-primary duration-300 w-0 left-0 bottom-0;
    height: 2px;
    
}

.animated-link-parent a:hover:after,.animated-link-parent a:focus:after,.animated-link-parent a:active:after {
    @apply w-full;
}

.post-content p {
    @apply my-3;
}

.post-content h1, h2, h3, h4, h5, h6 {
    @apply font-black text-color-2 my-4;
}

.post-content h1 {
    @apply text-5xl;
    text-align: center;
}

.post-content h2 {
    @apply text-4xl;
}

.post-content h3 {
    @apply text-3xl;
}

.post-content h4 {
    @apply text-2xl;
}

.post-content h5 {
    @apply text-xl;
}

.post-content h5 {
    @apply text-lg;
}

.post-content hr {
    @apply my-4 border-medium;
}

.post-content ul {
    list-style: disc
}

.post-content ol {
    list-style: decimal;
}

.post-content ul, .post-content ol {
    @apply ml-4;
}

.post-content ul ul, .post-content ol ol {
    @apply ml-3;
}

.post-content li {
    @apply my-2;
}

.post-content table {
    @apply w-full my-6;
}

.post-content table tr {
    border-bottom: 2px solid #eee;
    @apply border-medium;
}

.theme-dark .post-content table tr  {
    border-bottom: 2px solid #444;
}

.post-content table tr td, .post-content table tr th {
    @apply p-2 py-3 text-left;
}

.post-content blockquote{
    @apply border-l-4 border-primary p-3;
}

.post-content iframe {
    max-width: 100%;
}

.input.focused {
    @apply px-4;
}

.theme-dark .input.focused {
    background: theme("themes.dark.medium");
}

.theme-dark .blog-item .focused{
    background: theme("themes.dark.medium");
}

.spin {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media (max-width: 640px) {
    html {
        font-size: 15px;
    }
}